

/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*header*/
.header {
    /*  header section*/
    background-color: rgba(255, 255, 255, 0.52);
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logoTitleContainer {
    margin-left: 50px;
    display: flex;
    align-items: center;
}


.logoIMG {
    height: 55px;
    margin-left: 20px;
}

.titleDiv {
    margin-left: 10px;
}

.loginContactsContainer {

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}

.phoneIcon {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneDropdown{
    border-radius: 7px;
    border-width: 1px;
}

.mailDropdown{
    border-radius: 7px;
    border-width: 1px;
}


.mailIcon {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.phoneDropdownContent {
    margin-top: 15px;
    border-width: 2px;
    border: solid black;
    border-radius: 7px;
    display: none;
    /* Hide the content initially */
    position: absolute;
    /* Position it right below the button */
    background: linear-gradient(45deg, #bfecf3, #ace69d);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* Ensure it appears above other elements */
}

.mailDropdownContent {
    margin-top: 15px;
    border-width: 2px;
    border: solid black;
    border-radius: 7px;
    display: none;
    /* Hide the content initially */
    position: absolute;
    /* Position it right below the button */
    background: linear-gradient(45deg, #bfecf3, #ace69d);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}

.phoneDropdownContent p {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    justify-content: center;
    align-content: center;
    display: block;
    /* Make each link a block element for better spacing and hover area */
    text-align: center;
    font-size: 18px;
    font-family: "Times New Roman"

}

.contactsDiv {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
}

.mailDropdownContent p {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    width: auto;
    justify-content: center;
    align-content: center;
    display: block;
    /* Make each link a block element for better spacing and hover area */
    text-align: center;
    font-size: 18px;
    font-family: "Times New Roman"

}

.phoneDropdown:hover .phoneDropdownContent {
    display: block;
    /* Display the content when the user hovers over the parent .dropdown container */
    
}

.phoneDropdown:hover {
    background: linear-gradient(45deg, #96dee6, #7ed27c);
}

.mailDropdown:hover {
    background: linear-gradient(45deg, #96dee6, #7ed27c);
}


.mailDropdown:hover .mailDropdownContent {
    display: block;
    /* Display the content when the user hovers over the parent .dropdown container */
}

.loginDiv {
    font-size: 18px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}


.titleH1 {
    cursor: default;
}


.loginButton {
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    font-weight: bold;
    padding-top: 0;
    width:110px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 2px;
    position: relative;
    color: #000000;
    text-decoration: none;  
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgb(127, 229, 215);
    
}

.loginButton p{
    margin: auto;
    text-align: center;
}

.loginButton :before{
    transition: 0.5s ease all;
    position: absolute;
    top:0;
    left:50%;
    right: 50%;
    bottom:0;
    opacity: 0;
    content: '';
    background-color: #90ffaa;
    z-index: -1;
}

.loginButton :hover, .loginButton :focus{
    color: white;
}

.loginButton :hover:before, .loginButton :focus:before{
    left:0;
    right:0;
    opacity:1;
}

.loginButton:active{
    transform: scale(0.9);
}




.loginIcon {
    height: 15px;
    margin-right: 10px;
}

/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*subheader*/

.subheader {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.68);
}


/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*main page container*/


.mainPageContainer {
    /* Ensure it takes at least the full viewport height minus header and subheader */
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}


.mainPageVideo {
    width: 70%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.mainPageDescription {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 30%;
    background: rgba(255, 255, 255, 0.7); /* transparent white */
    margin-left: 190px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    z-index: 2;
    display:inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainPageDescription h2{
    font-family: 'Inter', sans-serif;    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.mainPageDescription p{
    font-family: 'Inter', sans-serif;    font-size: 20px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*footer*/






.footer {
    padding-top: 10px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content:space-between;
    align-items: top;
    margin-top: 13px;
}

.footer_info {
    margin-left: 70px;
    color: white;
    font-family: 'Inter', sans-serif;    font-size: 16px;
    display:inline;
}

.footer_info p {
    margin: 5px;
}

.footer_socials {
    margin-left: 50px;
    display: flex;
    justify-content: left;
    align-items: top;
    margin-top: 20px;
    margin-right: 55px;
}

.footer_socials img {
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}


















.mainBody {
    font-family: 'Inter', sans-serif;    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #966ecf, #00a6ff, #ace69d);
    
}

.loginA{
    text-decoration: none;
}





/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/

/*Login page*/

.loginSubmitButton {
    width: 150px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 2px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 
    0 3px, 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-decoration: none;  
    transition: 0.3s ease all;
    z-index: 1;
    
}

.loginSubmitButton:before{
    transition: 0.5s ease all;
    position: absolute;
    top:0;
    left:50%;
    right: 50%;
    bottom:0;
    opacity: 0;
    content: '';
    background-color: #43d565;
    z-index: -1;
}

.loginSubmitButton:hover, .loginSubmitButton:focus{
    color: white;
}

.loginSubmitButton:hover:before, .loginSubmitButton:focus:before{
    left:0;
    right:0;
    opacity:1;
}

.loginSubmitButton:active{
    transform: scale(0.9);
}


.backButton {
    width: 150px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 2px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 
    0 3px, 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-decoration: none;  
    transition: 0.3s ease all;
    z-index: 1;
    margin-bottom: 15px;
    
}

.backButton:before{
    transition: 0.5s ease all;
    position: absolute;
    top:0;
    left:50%;
    right: 50%;
    bottom:0;
    opacity: 0;
    content: '';
    background-color: #c4c4c4;
    z-index: -1;
}

.backButton:hover, .backButton:focus{
    color: white;
}

.backButton:hover:before, .backButton:focus:before{
    left:0;
    right:0;
    opacity:1;
}

.backButton:active{
    transform: scale(0.9);
}


.loginInputUsername, .loginInputPassword {
    width: 300px;
    height: 40px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 0px;
}

.loginInfoContainer a{
    margin: 10px;
    margin-bottom: 5px;
}

.showPasswordContainer{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.showPasswordContainer input{
    width: 17px;
    height: 20px;
    margin: 5px;
    margin-left: 50px;
    padding: 5px;
    border-style: solid;
}


.loginBody{
    font-family: 'Inter', sans-serif;    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #966ecf, #00a6ff, #ace69d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPageDiv{
    border-radius: 2px;
    border-style: solid;
    border-width: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7); 
    
}

.loginLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.loginPageLogo{
    height: 200px;
}

.loginInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/
/*############################################################*/

/*Dashboard*/

.dashBody {
    
    font-family: 'Inter', sans-serif; 
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(45deg, #966ecf, #00a6ff, #ace69d);
    
}
nav{
    background-color: rgba(255, 255, 255, 0.52);
    width: 100%;
    justify-content:left;
    align-items: center;
    display: flex;
    height: auto;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:2px solid black;
    
}
.Navigation:hover{
    background-color: rgba(255, 255, 255, 0.52);
}

.Navigation{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.615);
    height: 100%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    color: #000000;
    border-style: solid;
    border-width: 2px;
    
}


.dashLogo{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 10px;
    height: 55px;


}

nav div{
    height: 100%;
}

.profilePhoto{
    width: 30px;
    cursor: pointer;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
}

.profilePhotoContainer{
    margin-left: 20px;
    position: relative;
    display: inline-block;
}


.dropdownMenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 200px;
    height: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-right: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.dropdownMenu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdownMenu a:hover {
    background-color: #ddd;
}



.profName{
    white-space: nowrap;
    margin-right: 40px;
}

.nameContainer{
    margin-left: 10px;
    margin-right: 20px;
}


.profilePhotoContainer.show .dropdownMenu{
    display: block;
}







/*############################################################*/
/*############################################################*/
/*############################################################*/
/*home section*/

.homeSectionContainer{
    width: auto;
    height: 72%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.615);
    border-color: #000000;
    border-width: 2px;
    border-style: solid;   
    margin-top: 19.5px; 
    display: flex;
    flex-direction: row;
    border-bottom: none;
}

.homeSectionContainer h1{
    margin-bottom: 40px;
}

.dashFooter {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content:space-between;
    align-items: top;
}

.homeInfoSec{
    flex-direction: column;
    margin-left: 20px;
}

.infoDiv{
    display: flex;
    flex-direction: row;
    margin-left: 87px;
    margin-top: 120px;
}

.profPic{
    border-width: 2px;
    border-style: solid;
    height:333px;
}

.homeInfoSec h2, h3, h4 {
    margin: 3px; /* Remove the margin */
    padding: 0; /* Remove any padding */
}

.lastAttendedCources{
    display: flex;
    flex-direction: column;
}

.courseHeader{
    width: 100%;
    height: 30px;
    background-color: rgba(238, 238, 238, 0.745);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    border-style: solid;
    border-width: 2px;
}

.courseSub{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    color: black;
    
    
    
}

.courseSub ul li a{
    text-decoration: none;
    color: #000000;
}

.courseSub ul li{
    margin-bottom: 40px;
    margin-top: 15px;
}


.assignmentsDiv{
    width: 500px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 130px;
}

.assignmentsHead{
    background-color: rgba(238, 238, 238, 0.745);
    height: 30px;
    width: 500px;
    border-style: solid;
    border-width: 2px;
    
    
}

.assignmentsBody{
    background-color: #ededed;
    width: 500px;
    height: 291px;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*############################################################*/
/*############################################################*/
/*############################################################*/
/*showing sections*/

section{
    display: none;
}

.active{
    display: block;
}
